.container__menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.container__menu-title>h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 135px;
  font-family: 'segoe UI';
  display: flex;
  justify-content: center;
}

.container__menu-title>hr {
  margin-top: 20px;
  margin-bottom: 5px;
}

.container__menu-title>img {
  width: 100%;
}
